/*.ask-btn {
  margin-left: 18.67%;
}*/

.question-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EEEEEE;
  padding-top: 10px;
}

answer .good {
  color: green;
}

answer .bad {
  color: red;
}

.vote-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.edit-group {
  position: absolute;
  top: 0px;
  right: 15px;
}

.tags span {
  margin-right: 5px;
}

.state.ng-enter {
    transition: .5s;
    opacity: 0;
}

.state.ng-enter-active {
    opacity: 1;
}

.repeated-item.ng-enter,
.repeated-item.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.repeated-item.ng-leave.ng-leave-active,
.repeated-item.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}