<div class="thumbnail">
    <div class="caption row">
        <div class="col-xs-1">
            <div class="vote-panel">
                <div><button ng-click="ctrl.like()" ng-disabled="ctrl.likedByMe()" class="btn btn-default btn-xs">▲</button></div>
                <div><h4 ng-class="ctrl.usefullness()">{{ ctrl.answer.rating }}</h4></div>
                <div><button ng-click="ctrl.dislike()" ng-disabled="ctrl.dislikedByMe()" class="btn btn-default btn-xs">▼</button></div>
            </div>
        </div>
        <div class="col-xs-11">
            <p>{{ ctrl.answer.body }}</p>
            <div class="question-footer">
                <p class="author"><em>{{ ctrl.answer.author }}</em></p>
                <p class="date"><em>{{ ctrl.answer.date | date: 'medium' }}</em></p>
            </div>
        </div>
    </div>
</div>