#site-logo {
    float: left;
    margin: 20px;
}

#site-logo > img {
    float: left;
    margin: 15px;
}

#site-headtext {
    float: left;
    line-height: 20%;
    color: #d3d3d3;
    margin-top: -3px;
}

#site-headtext h1 a {
    color: orange;
}

#navlinks {
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 1000px) {
    #site-logo {
        float: none;
        margin: 0;
        display: block;
    }
    
    #navlinks {
        float: none;
        margin-right: 20px;
        margin-top: 30px;
        display: block;
    }
}

#navlinks ul {
    list-style-type: none;
}

#navlinks ul li {
    display: inline;
    border-right: 1px solid #bbb;
}

#navlinks ul li:last-child {
    border-right: none;
}

#navlinks ul li a {
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
}

#navlinks ul li a:hover {
    color: dodgerblue;
}

#banner {
    background: linear-gradient(#e7e7e7, #ffffff);
}

#banner img {
    margin-left: 100px;
    margin-top: 50px;
    float: left;
    width: 30%;
    position: relative;
    bottom: -18px;
}

#banner-text {
    float: left;
    font-size: larger;
    margin-left: 100px;
    width: 50%;
    margin-top: 70px;
}

#banner-text a {
    margin-top: 40px;
}

#banner-text .lighttext {
    display: block;
}

@media screen and (max-width: 1150px) {
    #banner-text {
        font-size: smaller;
        width: 80%;
        margin-top: 20px;
        margin-left: 60px;
    }

    #banner img {
        display: none;
    }

    #banner-text a {
        margin-top: 10px;
    }
}