main {
    padding-bottom: 50px;
    margin: auto 20px;
}

#articles {
    display: inline-block;
    width: 60%;
    float: left;
}

#articles .card {
    display: flex;
    margin-left: 1%;
}

#articles .card-img {
    margin: 1%;
    width: 100%;
}

#articles .card-img img {
    width: 100%;
}

#articles .card-text {
    width: auto;
}

#sidebar {
    display: inline-block;
    width: 30%;
    float: left;
    margin: 20px;
    margin-top: 55px;
}

.sidebar-body {
    border: 2px solid lightgrey;
    border-radius: 4px;
    clear: both;
}

.article-head {
    display: block;
    color: gray;
    font-size: x-large;
}

.article-content {
    display: block;
    margin: 6px 0;
}

.sidebar-head {
    background-color: #003d48;
    color: white;
    display: inline-block;
}

.sidebar-head-text {
    margin: 30px;
}

.sidebar-head-head {
    color: #57aabf;
    font-size: x-large;
    display: block;
    margin: 15px auto;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li:before {
    content: "➜ ";
    color: #f77462;
}

#sidebar ul li {
    border-bottom: 1px solid #bbb;
    padding: 12px 0;
}

#sidebar ul li:last-child {
    border-bottom: none;
}

.tab {
    border: 2px solid lightgrey;
    border-radius: 4px;
    float: left;
    width: 120px;
    height: 35px;
    margin-right: 10px;
    margin-bottom: -3px;
    border-bottom: none;
    color: #57aabf;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-weight: bolder;

}

.tab-selected {
    background-color: #003d48;
    color: #f77462;
}

@media screen and (max-width: 970px) {
    #articles {
        display: inline-block;
        width: 100%;
    }

    #sidebar {
        width: 100%;
        float: none;
        margin: 0;
        margin-top: 30px;
    }
}