#offers {
    background-color: #6dc5dd;
}

#offers ul li {
    display: inline;
}

#offers .card-img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}

#offers .card-img img {
    height: 40px;
    width: auto;
    display: block;
    margin: 5px auto;
}

#offers .card {
    display: inline-block;
    width: 30%;
    margin: 50px 0;
}

#offers .card-text {
    position: relative;
    display: inline-block;
    width: 250px;
    color: white;
}

#offers .card span {
    display: block;
}

.card-head {
    font-weight: bolder;
    font-size: larger;
}

.card-readmore {
    font-weight: bolder;
}

.card-snippet {
    margin: 20px 0;
}

@media screen and (max-width: 1254px) {
    #offers .card {
        margin: 10px 0;
        width: 49%;
    }
}

@media screen and (max-width: 750px) {
    #offers .card {
        width: 100%;
    }
}