body {
    background-image: url("../images/background.jpg");
    font-family: Calibri;
    color: #003d48;
    min-width: 360px;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover {
    color: dodgerblue;
}

#content {
    border-radius: 5px;
    width: 90%;
    background: white;
    margin: auto;
}

.text-link {
    font-weight: bolder;
}

.text-thin-header {
    font-size: 200%;
    font-weight: lighter;
}

.lighttext {
    color: darkgray;
}

.btn {
    border-radius: 2px;
    background-color: #f77462;
    margin: auto;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
}

.btn:hover {
    color: white;
}

.card {
    margin: 50px 20px;
}

.card-img {
    float: left;
}

.card-text {
    float: left;
    margin-left: 20px;
    width: 75%;
}

@media screen and (max-width: 1000px) {
    #content {
        border-radius: 0px;
        width: 100%;
        background: white;
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
    }
}

/*+ no-beautify */
.clearfix:after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
}