body {
    background-image: url("../images/background.jpg");
    font-family: Calibri;
    color: #003d48;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover {
    color: dodgerblue;
}

#content {
    border-radius: 5px;
    width: 1200px;
    background: white;
    margin: auto;
}

.text-link {
    font-weight: bolder;
}

.text-thin-header {
    font-size: 200%;
    font-weight: lighter;
}

.lighttext {
    color: darkgray;
}

.btn {
    border-radius: 2px;
    background-color: #f77462;
    margin: auto;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
}

.btn:hover {
    color: white;
}

/*+ no-beautify */
.clearfix:after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
}