.slider-container {
    position: relative;
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 200px;
}

.slider {
    white-space:nowrap;
    position: relative;
}

.preview {
    margin: 0 20px;
    width: 320px;
    border: 1px solid;
    display: inline-block;
    white-space: normal;
    position: relative;
    vertical-align: top;
}

.title {
    overflow: hidden;
}

/*+ no-beautify */
.clearfix:after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
}