* {
    font-family: Calibri;
}

.slider-container {
    position: relative;
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 200px;
    min-width: 360px;
}

.slider {
    white-space:nowrap;
    position: relative;
}

.preview {
    margin: 0 20px;
    width: 320px;
    display: inline-block;
    white-space: normal;
    position: relative;
    vertical-align: top;
}

.play {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    background-image: url("../images/play.png");
    background-size: 64px 45px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    top: 64px;
    width: 64px;
    height: 45px;
    pointer-events: none;
}

.preview:hover .play {
    opacity: 1;
}

.title {
    overflow: hidden;
}

.btn-container {
    display: table;
    margin: 0 auto;
    margin-top: 50px;
}

.slider-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.slider-dot.active {
    background-color: #00CED1;
}

.slider-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

/*+ no-beautify */
.clearfix:after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
}