<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div>
            <div class="caption">
                <h3>{{ ctrl.question.title }}</h3>
                <h4 class="tags">
                    <span ng-repeat="tag in ctrl.question.tags" class="label label-info">
                        {{ tag }}
                    </span>
                </h4>
                <p>{{ ctrl.question.body }}</p>
                <div class="question-footer">
                    <p class="author"><em>{{ ctrl.question.author }}</em></p>
                    <p class="date"><em>{{ ctrl.question.date | date: 'medium' }}</em></p>
                </div>
            </div>

            <div class="answers">
                <answer ng-repeat="answer in ctrl.question.answers | filter: ctrl.searchService.query track by answer.id"
                        model="answer" question="ctrl.question" class="repeated-item"></answer>
            </div>
        </div>
    </div>
    <div class="col-md-offset-9">
        <button ng-hide="ctrl.iAmAuthor" class="btn btn-success" ng-click="ctrl.showAnswerForm()">Answer this question</button>
        <button ng-show="ctrl.iAmAuthor" ng-click="ctrl.deleteQuestion()" class="btn btn-danger" ng-click="ctrl.deleteQuestion()">Delete question</button>
    </div>
</div>



<div ng-if="ctrl.isFormVisible" class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <legend>New answer</legend>
        <answer-form question="ctrl.question" model='ctrl.newAnswer' submit="ctrl.addAnswer" hide="ctrl.hideAnswerForm"></answer-form>
    </div>
</div>