<div class="col-md-6 col-md-offset-3">
    <div>
        <div class="caption">
            <h3>{{ ctrl.question.title }}</h3>
            <p>{{ ctrl.question.body }}</p>
            <div class="question-footer">
                <p class="author"><em>{{ ctrl.question.author }}</em></p>
                <p class="date"><em>{{ ctrl.question.date | date: 'medium' }}</em></p>
            </div>
        </div>

        <div class="answers">
            <div ng-repeat="answer in ctrl.answers track by answer.id" class="thumbnail">
                <div class="caption">
                    <h3>{{ answer.body }}</h3>
                    <div class="question-footer">
                        <p class="author"><em>{{ answer.author }}</em></p>
                        <p class="date"><em>{{ answer.date | date: 'medium' }}</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-success" ng-click="ctrl.showAnswerForm()">Answer this question</button>

<answer-form ng-show="ctrl.isFormVisible" question="ctrl.question" hide="ctrl.hideAnswerForm"></answer-form>