* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

.json-source {
    width: 45%;
    height: 100%;
    float: left;
}

#json-text {
    width: 95%;
    height: 100%;
}

.btn-wrap {
    width: 10%;
    height: 100%;
    float: left;
    display: inline-block;

}

#view-btn {
    position: relative;
    top: 50%;
    margin: auto;
    margin-left: 15%;
}

#json-obj {
    width: 45%;
    height: 100%;
    float: left;
    display: flex;
}

.warning-message {
    color: red;
    width: 50%;
    margin: auto;
    text-align: center;
    align-self: center;
}

.children {
}

.node-head {
    position: relative;
    margin: 10px auto;
}

.type-indicator:before {
    content: '●';
}

.type-indicator {
    width: 10px;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

.content {
    margin-left: 20px;
    float: left;
}

.type-indicator.string {
    color: green;
}

.type-indicator.number {
    color: blue;
}

.type-indicator.boolean {
    color: yellow;
}

.type-indicator.null {
    color: red;
}

.type-indicator.array:before {
    content: url("images/array.png");
}

.type-indicator.object:before {
    content: url("images/bracket.png");
    margin-left: -3px;
}

.spoiler {
    background-image: url("images/minus.png");
    background-size: 16px 16px;
    float: left;
    margin-left: -25px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    cursor: pointer;
}

.minimized .spoiler {
    background-image: url("images/plus.png");
}

.minimized .children {
    display: none;
}

/*+ no-beautify */
.clearfix:after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
}