<form name="questionForm">
    <legend>New question</legend>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4 form-group">
            <input ng-model="ctrl.title" required="required" type="text" class="form-control" placeholder="Title">
        </div>
        <div class="col-sm-offset-1 col-sm-3 form-group">
            <input ng-model="ctrl.author" required="required" type="text" class="form-control" placeholder="Author">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 form-group">
            <textarea ng-model="ctrl.body" required="required" class="form-control" placeholder="Type your question here" rows="20"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 form-group">
            <tags-input ng-model="ctrl.tags" add-on-space="true" min-length="2"></tags-input>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <button ng-click="ctrl.addQuestion()" ng-disabled="!questionForm.$valid"
                    class="btn btn-primary">Ask</button>
        </div>
    </div>
</form>